* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* html css */
html {
    font-family: "iCiel Mijas";
    scroll-behavior: smooth;
}

.main {
    text-align: center;

}
img {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
   
}

h1 {
    color: pink;
    text-align: center;
}

a {
    color: pink;
    text-align: center;

}

a:hover {
    color:bisque;
}